<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- CSS supporting files -->
    <link rel="stylesheet" href="../static/files/css/bootstrap.min.css"  rel="stylesheet">
    <link rel="stylesheet" href="../static/files/css/lightslider.css">
    <link rel="stylesheet" href="../static/files/css/style.css">
    <!-- JS supporting files -->
    <script src="../static/files/js/bootstrap.bundle.min.js"></script>
    <script src="../static/files/js/jquery.js"></script>
    <script src="../static/files/js/lightslider.js"></script>
    <script src="../static/files/js/script.js"></script>
</head>
<body>
    
    <div class="container bg-success">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-warning">Home</a></li>
            <li class="nav-item"><a href="/" class="nav-link px-2 text-warning">Blog</a></li>
            <li class="nav-item"><a href="/" class="nav-link px-2 text-warning">About Us</a></li>
          </ul>
          <p class="text-center text-dark">© 2024 Soko Garden, Inc</p>
        </footer>
      </div>

</body>
</html>